.homePage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  .homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background image */
    z-index: 1;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;

    .wrapper {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      .title {
        font-size: 3rem;
      }
    }
  }
}
